In [1]:
import pandas as pd

In [2]:
path='F:\\PostDoc\\PINN\\Recover\\15_Febr_2024\\Cucumbers_quality\\PINN_Shamp\\result\\Cucumbers8.csv'

df = pd.read_csv(path)

In [8]:
df['Test Size'].unique()

array([187], dtype=int64)

In [7]:
df

,Seed split,Model,Average RMSE,Average MAE,Average Std Errors,Average R2,Train Size,Test Size,batch_size,Seed,dataset,num_epochsT,data_split_seed
0,210,e1,2.360532,1.629102,2.292529,0.555327,31,187,9,10,V,18,6
1,210,e2,2.249656,1.591550,2.196392,0.596249,31,187,9,10,V,18,6
2,210,sigmoid_sepate,2.275904,1.588849,2.216014,0.586891,31,187,9,10,V,18,6
3,210,b5_separate,2.250458,1.591898,2.196865,0.595967,31,187,9,10,V,18,6
4,211,e1,2.261104,1.564512,2.200296,0.592273,31,187,9,10,V,18,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14375,392,b5_separate,1.940978,1.353695,1.902298,0.706535,143,187,42,10,V,18,8
14376,393,e1,1.886763,1.298833,1.866509,0.722753,143,187,42,10,V,18,8
14377,393,e2,1.856075,1.260163,1.830351,0.731733,143,187,42,10,V,18,8
14378,393,sigmoid_sepate,1.801636,1.225035,1.782119,0.747269,143,187,42,10,V,18,8
14379,393,b5_separate,1.854944,1.259272,1.829322,0.732061,143,187,42,10,V,18,8

In [9]:
path='C:\\Users\\David\\Documents\\GitHub\\Physics-Guided-Inverse-Regression-for-Crop-Quality-Assessment\\data\\cucumbers_fitness.csv'
#path='F:\\PostDoc\\PINN\\Recover\\15_Febr_2024\\Cucumbers_quality\\PINN_Shamp\\result\\Cucumbers8.csv'

df1 = pd.read_csv(path)
df1

      Unnamed: 0    A    B   fitness folder
0            0.0  1.0  1.0  9.676783      L
1            1.0  1.0  2.0  6.778266      L
2            2.0  1.0  3.0  3.319113      L
3            3.0  1.0  4.0  7.297839      L
4            4.0  1.0  5.0  4.037811      L
...          ...  ...  ...       ...    ...
2572         NaN  NaN  NaN       NaN    NaN
2573         NaN  NaN  NaN       NaN    NaN
2574         NaN  NaN  NaN       NaN    NaN
2575         NaN  NaN  NaN       NaN    NaN
2576         NaN  NaN  NaN       NaN    NaN

[2577 rows x 5 columns]

In [10]:
df1.dropna()

     Unnamed: 0     A     B       fitness folder
0           0.0   1.0   1.0  9.676783e+00      L
1           1.0   1.0   2.0  6.778266e+00      L
2           2.0   1.0   3.0  3.319113e+00      L
3           3.0   1.0   4.0  7.297839e+00      L
4           4.0   1.0   5.0  4.037811e+00      L
..          ...   ...   ...           ...    ...
795       795.0  80.0   6.0  1.129004e+01      L
796       796.0  80.0   7.0  1.287325e+01      L
797       797.0  80.0   8.0  1.000000e+99      L
798       798.0  80.0   9.0  1.320869e+01      L
799       799.0  80.0  10.0  3.702275e+01      L

[786 rows x 5 columns]

In [11]:
3%2

1

In [12]:
4%2

0

In [13]:
int(1/2)

0

In [14]:
int(2/2)

1